<!doctype html>
<html>
<head>
  <script>
function decryptAES(key, iv, cipher) {
    console.log("iv:", iv, "cipher:", cipher)
    return window.crypto.subtle.decrypt({name: "AES-GCM", iv}, key, cipher);
}

function ab2str(buf) {
  return String.fromCharCode.apply(null, new Uint8Array(buf));
}

function hex2ab(s) {
    return Uint8Array.from(fromHex(s), c => c.charCodeAt(0)).buffer
}

function fromHex(hex) {
    let str = '';
    for (var i = 0; i < hex.length; i += 2)
        str += String.fromCharCode(parseInt(hex.substr(i, 2), 16));
    return str;
}

function parseKey() {
    //let rawKey = localStorage.getItem("secretKey").split(",")
    let rawKey = "101,101,101,101,101,101,101,101,101,101,101,101,101,101,101,101,101,101,101,101,101,101,101,101,101,101,101,101,101,101,101,101".split(",")
    rawKey = rawKey.map((n) => Number(n))
    rawKey = Uint8Array.from(rawKey).buffer
    return window.crypto.subtle.importKey("raw", rawKey, "AES-GCM", true, ["encrypt", "decrypt"])         
}

window.onload = function() {
    parseKey().then((key) => {    
        const ivBuffer = hex2ab('{{iv}}')
        const cipherBuffer = hex2ab('{{filecontent_enc}}')
        decryptAES(key, ivBuffer, cipherBuffer).then((plain) => {
            const filecontent = ab2str(plain)
            const linkSource = 'data:application/pdf;base64,' + filecontent
            const downloadLink = document.createElement('a')
            document.body.appendChild(downloadLink)

            downloadLink.href = linkSource
            downloadLink.target = '_self'
            downloadLink.download = 'download.zip'
            downloadLink.click()
        })
    })
}
  </script>
<body>
  <p>Downloaded File</p>
</body>
</html>



