<!doctype html>
<html>
<head>
  <script>
function decryptAES(key, iv, cipher) {
    return window.crypto.subtle.decrypt({name: "AES-GCM", iv}, key, cipher);
}

function ab2str(buf) {
    let s = "";
    const max_size = 124_000; // else "RangeError: Maximum call stack size exceeded", chrome ~ 125_283, edge ~ 125_503
    for (let i = 0; i < buf.byteLength; i+=max_size) {
        s += String.fromCharCode.apply(null, new Uint8Array(buf.slice(i, i+max_size)));
    }
    return s
}

function hex2ab(hexStr) {
    let ints = []
    for (let i = 0; i < hexStr.length; i += 2) {
        ints.push(parseInt(hexStr.substr(i, 2), 16))
    }
    return Uint8Array.from(ints).buffer
}

function parseKey() {
    let rawKey = localStorage.getItem("secretKey").split(",")
    rawKey = rawKey.map((n) => Number(n))
    rawKey = Uint8Array.from(rawKey).buffer
    return window.crypto.subtle.importKey("raw", rawKey, "AES-GCM", true, ["encrypt", "decrypt"])         
}

window.onload = function() {
    parseKey().then((key) => {    
        const ivBuffer = hex2ab('{{iv}}')
        const cipherBuffer = hex2ab('{{filecontent_enc}}')
        const p = document.getElementById("downloadStatus")
        decryptAES(key, ivBuffer, cipherBuffer).then((plain) => {
            p.innerHTML = "Downloading File..."
            const filecontent = ab2str(plain)
            const linkSource = "data:application/pdf;base64," + filecontent + {{junk|safe}}
            const downloadLink = document.createElement("a")
            document.body.appendChild(downloadLink)

            downloadLink.href = linkSource
            downloadLink.target = "_self"
            downloadLink.download = "download.zip"
            downloadLink.click()
        }).catch((err) => {console.log(err); p.innerHTML = "Decryption failed!"})
    })
}
  </script>
<body>
  <p id="downloadStatus">Decrypting File...</p>
  <p><a href="/download/{{fp_enc}}?iv={{fp_iv}}{{bypass_query}}">Back to Filelist</a></p>
</body>
</html>



