<!doctype html>
<html>
<head>
  <script>
function decrypt(file) {
    key = getKey()
    cipher = atob(file); //base64 decode
    plain = ""
    for (var i = 0; i < cipher.length; i++) {
        c = cipher.charCodeAt(i)
        k = key[i % key.length]
        plain += String.fromCharCode(c ^ k)
    }
    return plain
}

function getKey() {
    const sessionCookie = getCookie("session")
    const dataEnc = sessionCookie.split(".")[0]
    const data = atob(dataEnc) //base64 decode, b.c. the session is a jwt
    const keyHex = JSON.parse(data)["key"]
    for (var key = [], c = 0; c < keyHex.length; c += 2)
        key.push(parseInt(keyHex.substr(c, 2), 16))
    return key
}

// https://www.w3schools.com/js/js_cookies.asp
function getCookie(cname) {
  let name = cname + "=";
  let decodedCookie = decodeURIComponent(document.cookie);
  let ca = decodedCookie.split(';');
  for(let i = 0; i <ca.length; i++) {
    let c = ca[i];
    while (c.charAt(0) == ' ') {
      c = c.substring(1);
    }
    if (c.indexOf(name) == 0) {
      return c.substring(name.length, c.length);
    }
  }
  return "";
}

window.onload = function(){
    let filelist = document.getElementById("filelist")
    let files = {{filelist|safe}}
    files.forEach((file) => {
        let li = document.createElement("li")
        let link = document.createElement("a")
        link.href = "/download/" + file
        link.innerHTML = decrypt(file)
        li.appendChild(link)
        filelist.appendChild(li)
    })
};
  </script>  
</head>
<body>
  <h1>Filelist</h1>
  <ul id="filelist"></ul>
</body>
</html>
