<!DOCTYPE html>
<html>
  <head>
    <title>Proxybypasser</title>
    <script>
async function sha256(ints) {
    const buf = new Uint8Array(ints);
    const hashBuffer = await crypto.subtle.digest('SHA-256', buf);
    return Array.from(new Uint8Array(hashBuffer));
}

function str2ints(s) {
    l = []
    for (let i = 0; i < s.length; i++) { 
        l.push(s.charCodeAt(i))
    }
    return l
}

function int2bytes(x) { // 4 bytes
    var bytes = [];
    for (let i = 3; i >= 0; i--) {
        bytes[i] = x & (255);
        x = x>>8;
    }
    return bytes;
}

function int2str(x) { // 4 bytes
    let s = "";
    for (let i = 3; i >= 0; i--) {
        s = String.fromCharCode(x & (255)) + s; // builds s from back to front
        x = x>>8;
    }
    return s;
}

window.onload = function() {
    const t = Math.round(new Date().getTime()/1000)
    const field = document.getElementById("loginForm")
    const clientRandomInt = Math.round(Math.random() * 2**32)
    document.getElementById("clientRandom").value = clientRandomInt
    const clientRandom = int2bytes(clientRandomInt)
    const serverRandom = int2bytes({{server_random}})

    document.getElementById("loginForm").onsubmit = function() {
        // derive shared key
        const preSecret = document.getElementById("preSecret")
        const userPreSecret = str2ints(preSecret.value)
        field.removeChild(preSecret)
        const keyMaterial = userPreSecret.concat(clientRandom).concat(serverRandom)
        sha256(keyMaterial).then((hash) => localStorage.setItem("secretKey", hash))
    };
}
    </script>
  </head>
  <body>
    <h1>Login</h1>
    <form id="loginForm" action="/login" method="POST" class="Form">
      <input type="password" name="password" placeholder="Password"/>
      <input id="preSecret" type="password" name="preSecret" placeholder="Pre-Secret"/>
      <input id="clientRandom" name="clientRandom" value=0 hidden="true"/>
      <input id="serverRandom" name="serverRandom" value={{server_random}} hidden="true"/>
      <input type="submit" value="Login" class="button"/>
    </form>
  </body>
</html>
